/*searchBar*/

.search-container {
  position: relative;
  padding-right: 20px;
  scale: 0.6;
  transition: 0.5s;
}

.featured-searchBox {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 3px solid#ffffff;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  caret-color: transparent;
  transition: 0.5s;
}

.search-container span {
  position: absolute;
  pointer-events: none;
  -webkit-user-drag: none;
  top: 55%;
  left: 55%;
  transform: rotate(135deg);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 23px;
  color: #ffffff;
  transition-property: transform, font-weight, font-size, top, left;
  cursor: pointer;
  transition-duration: 0.5s;
}
.search-container:has(.featured-searchBox:focus) {
  scale: 1;
}
.featured-searchBox:focus {
  border-radius: 50px;
  width: 300px;
  color: #ffffff;
  background-color: #ffffff;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 3px solid#ffffff;
  cursor: text;
  caret-color: white;
  transition: 0.5s, caret-color 0s 0.6s, left 0.5s 0.1s;
}

.search-container:has(.featured-searchBox:focus) span {
  left: 18px;
  top: 3px;
  font-weight: 100;
  font-size: 21px;
  transform: rotate(180deg) scaleX(0.6);
  color: #ffffff00;
  transition-property: transform, font-weight, font-size, top, left, color;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.2s, 0.5s, 0s;
  transition-delay: 0s, 0s, 0s, 0s, 0.1s, 0.6s;
}
